@model DashBoardModel

@{
    ViewData["Title"] = "Dashboard";
}


<div class="row">

    @using (Html.BeginForm())
    {
    <div class="col-sm-3 col-md-2 sidebar">

        <h4>FILTER</h4>
        <br />
        <p>Gender</p>
        @Html.DropDownListFor(model => model.GenderValue, Model.AvailableGenders)

        <p>&nbsp;</p>
        <p>Race</p>
        @Html.DropDownListFor(model => model.RaceValue, Model.AvailableRace)
        <p>&nbsp;</p>
        <input id="FilterButton" type="submit" value="submit" title="Filter" />

    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">Dashboard</h1>
        

        @await Html.PartialAsync("Statistics", Model.Statistics)


        <h3 class="sub-header">Employees</h3>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Full Name</th>
                        <th>Gender</th>
                        <th>Race</th>
                        <th>Birth Day</th>
                        <th>Work Email</th>
                        <th>Position</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var employee in Model.Employees)
                {
                    <tr>
                        <td>@employee.User.username</td>
                        <td>@employee.User.first_name @employee.User.last_name</td>
                        <td>@employee.gender</td>
                        <td>@employee.race</td>
                        <td>@employee.birth_date</td>
                        <td>@employee.email</td>
                        <td>@employee.Position.name</td>
                    </tr>

            }

                </tbody>
            </table>
        </div>
    </div>

    }

</div>
