@model DashBoardModel

@{
    ViewData["Title"] = "Dashboard";
}


<div class="row">

    @using (Html.BeginForm())
    {
    <div class="col-sm-3 col-md-2 sidebar">

        <h4>FILTER</h4>
        <br />
        <p>Gender</p>
        @Html.DropDownListFor(model => model.GenderValue, Model.AvailableGenders)

        <p>&nbsp;</p>
        <p>Race</p>
        @Html.DropDownListFor(model => model.RaceValue, Model.AvailableRace)
        <p>&nbsp;</p>
        <input id="FilterButton" type="submit" value="submit" title="Filter" />

    </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Dashboard</h1>
            <div class="row placeholders">
                <div class="col-xs-6 col-sm-3 placeholder">
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                    <h4>Number of Employees</h4>
                    <span class="text-muted"></span>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                    <h4>Birth days </h4>
                    <span class="text-muted"></span>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                    <h4>Positions</h4>
                    <span class="text-muted"></span>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                    <h4>Reviews</h4>
                    <span class="text-muted"></span>
                </div>
            </div>
            <h3 class="sub-header">Employees</h3>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Full Name</th>
                            <th>Gender</th>
                            <th>Race</th>
                            <th>Birth Day</th>
                            <th>Work Email</th>
                            <th>Position</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var employee in Model.Employees)
                        {
                        <tr>
                            <td>@employee.User.username</td>
                            <td>@employee.User.first_name @employee.User.last_name</td>
                            <td>@employee.gender</td>
                            <td>@employee.race</td>
                            <td>@employee.birth_date</td>
                            <td>@employee.email</td>
                            <td>@employee.Position.name</td>
                        </tr>

                        }
                        
                    </tbody>
                </table>
            </div>
        </div>

    }

</div>
